<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIService</key>
	<dict>
        <key>sourceURL</key>
        <string>https://ptx.transportdata.tw/MOTC/v2/Bike/Availability/Kaohsiung?$format=JSON&amp;$filter=</string>
		<key>infoEngSourceURL</key>
		<string>http://www.c-bike.com.tw/xml/StationListEnOpenData.aspx</string>
		<key>infoSourceURL</key>
		<string>http://www.c-bike.com.tw/xml/stationlistopendata.aspx</string>
		<key>stationSourceURL</key>
		<string>https://raw.githubusercontent.com/keith222/Kaohsiung-City-Bike/master/Kaohsiung%20City%20Bike/citybike.json</string>
		<key>versionSourceURL</key>
		<string>https://raw.githubusercontent.com/keith222/Kaohsiung-City-Bike/master/Kaohsiung%20City%20Bike/version.json</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Kaohsiung CityBike</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widget-extension</string>
	</dict>
</dict>
</plist>
